.searchresult{
    margin: 6.2rem 1.5rem;
    color: #2a2a2a;
}
.searchresult h2{
    padding-top: 1.7rem;
    margin-bottom: 0rem;
    font-size: 2rem;
    font-family: initial;
}
#searchresultcard{
    margin-top: 1.7rem;
    display: inline;
    justify-content: space-between;
}
.s-card{
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(86, 4, 4, 0.11);
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
}
.atag{
    text-decoration: none;
    color: #2a2a2a;
}
.s-image{
    height: 250px;
    overflow: hidden;
    border-radius: 7px;
}
.s-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}
.s-image:hover img{
    transform: scale(1.2);
}
.s-card h4{
    padding-top: 1rem;
    font-size: 1.3rem;
    padding: 0.9 0 0.2 0;
}
@media screen and (max-width: 950px){
    .searchresult{
        margin: 4rem 2rem;
    }
    .searchresultcard{
        flex-direction: column;
    }
    .s-card{
        width: 90%;
        margin-bottom: 1.5rem;
    }
}