.about-center{
    text-align: start;
    margin: 4rem 6rem;
}
.about-center h1{
    padding-bottom: 1rem;
}
.about-center p{
    padding-bottom: 2rem;
}
@media screen and (max-width : 850px) {
    .about-center{
        margin: 0rem 2rem ;
    }
}