.form-container{
    margin: 3rem 6rem;
    color: #2a2a2a;
}
.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction:column;
    width: 60%;
    margin: auto;
}
h3{
    font-family: "fangsong";
    padding-left: 2rem;
}
.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
    border: 1px solid #2a2a2a;
}
.form-container textarea{
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border-radius:1px solid #2a2a2a;
}
.form-container button{
    display: inline;
    border-radius: 10px;
}
@media screen and (max-width: 850px) {
    .form-container{
        margin: 0rem 2rem;
    }
    h3{
        font-family: "fangsong";
        font-size: small;
    }
    .form-container form{
        padding-top: 1rem;
        display: flex;
        flex-direction:column;
        width: 100%;
        margin: 0px 0px 50px 0px;
    }
    .form-container div{
        padding-top: 2rem;
        width: 90%111;
    }
}